<div class="page-wrapper">
  <div class="container-fluid">
    <div class="heading-breadcrumbs">
      <span class="step cart">Panier</span>
      <i class="material-icons">arrow_right</i>
      <span class="step checkout active">Validation</span>
      <i class="material-icons">arrow_right</i>
      <span class="step complete">Terminée</span>
    </div>
    <div class="row">
      <div class="col s12 m12 l7">
        <div class="card">
          <div class="card-content">

            <form name="checkout_form" method="post" id="payment-form">

              <div class="row">
                <div class="col s12">
                  <div class="row-header">Panier</div>
                </div>

                <div *ngFor="let item of auth.cart.items" class="col s12 l6 cart-item-container">
                  <div class="card basic modernize">
                    <a>
                      <div class="card-content">
                        <span class="card-title">{{item.menu.name}} x{{item.quantity}}</span>
                        <p>{{item.menu.description}}</p>
                        <div class="price status success">{{item.menu.price | currency: 'EUR': true}}</div>
                      </div>
                    </a>
                  </div>
                </div>

                

                <div class="col s12">
                  <div class="flex align-center">
                    <div class="row-header">Adresse de livraison</div>
                    <a class="modal-trigger flex align-center add-btn">
                      <span class="material-icons">add</span>
                    </a>
                  </div>
                </div>

                <div *ngFor="let address of auth.user.$addresses" class="col s12 m6 l6">
                  <div class="radio-card">
                    <p class="radio modernize">
                      <label>
                        <input type="radio" [checked]="choseAddress(address)" name="address_{{address.id}}" required="required" class="address-radio-btn with-gap" >
                        <span></span>
                      </label>
                    </p>
                    <div class="card radio modernize">
                      <div class="card-content">
                        <span class="card-title"><label for="address_{{address.id}}" class="required">{{address.name}}</label></span>
                        <span class="address">{{address.line1}}</span>
                        <span *ngIf="address.line2 !== undefined" class="address">{{address.line2}}</span>
                        <span class="address">{{address.city.name}}, {{address.city.zip_code}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l5">
        <div class="card">
          <div class="card-content">

            <div *ngFor="let item of auth.cart.items" class="flex align-center justify-space-between line">
              <span>{{item.menu.name}} x{{item.quantity}}</span>
              <span>{{item.menu.price * item.quantity | currency: 'EUR': true}}</span>
            </div>
            
            <br>
            <div class="flex align-center justify-space-between line">
              <span>Total</span>
              <span>{{getTotal() | currency: 'EUR': true}}</span>
            </div>
            <br>

            <div class="flex align-center">
              <p class="radio modernize">
                <label>
                  <input type="radio" id="checkout_form_paymentMethod_1" name="checkout_form[paymentMethod]" required="required"
                    class="with-gap" value="1">
                  <span><label for="checkout_form_paymentMethod_1" class="required">Paiement à la livraison</label></span>
                </label>
              </p>
              <i style="font-size: 15pt" class="material-icons tooltip" data-position="right" data-tooltip="Payer quand c'est livré">info_outline</i>
            </div>

            <div class="flex align-center credit-card-icons">
              <p class="radio modernize">
                <label>
                  <input type="radio" id="checkout_form_paymentMethod_2" name="checkout_form[paymentMethod]" required="required"
                    class="with-gap credit-card-method" value="2">
                  <span><label for="checkout_form_paymentMethod_2" class="required">Carte bancaire</label></span>
                </label>
              </p>
              <img src="../../assets/img/creditcard/visa.svg" width="30" alt="Visa">
              <img src="../../assets/img/creditcard/mastercard.svg" width="30" alt="MasterCard">
              <img src="../../assets/img/creditcard/amex.svg" width="30" alt="American Express">
            </div>

            <div class="credit-card-form">
              <span style="font-size: 11pt;color: #888888;font-weight: 500">Utilisez <b>4000 0000 0000 0077</b> si vous
                voulez commander</span>
              
              <div style="padding: 10px 0 !important;">
                <div id="card-element" class="StripeElement StripeElement--empty">
                  
                </div>

              </div>

              <div id="card-errors" role="alert"></div>
            </div>

            <div class="input-field submit-wrapper">
              <button type="submit" id="checkout_form_pay" name="checkout_form[pay]" class="stripe-btn">Commander</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>