@import '../../assets/css/restaurant.css';
@import '../../assets/css/profile.css';

#profileimage > div > div.image-wrapper > form > div > img {
    width: 100% !important;
}

.image-wrapper input[type=file].image-wrapper {
    position: absolute !important;
    opacity: 0 !important;
    height: 80% !important;
    // width: 100% !important;
    z-index: 80 !important;
    cursor: pointer !important;
}