<header class="main">
  <nav id="nav">
    <div class="container-fluid">
      <div class="nav-wrapper">
        <a [routerLink]="['/']" class="brand-logo left bold">Delivereo</a>
        <a href="#" data-target="sidebar-nav" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li *ngIf="auth.user !== null && auth.isLoggedIn() && auth.user.checkRole('ROLE_CONSUMER')"><a [routerLink]="['cart']"><i class="material-icons">shopping_cart</i></a></li>
          <li *ngIf="auth.user !== null && auth.isLoggedIn() && auth.isAdmin()"><a [routerLink]="['admin']">Tableau de bord</a></li>
          <li *ngIf="auth.user !== null && auth.isLoggedIn() && auth.isOwner()"><a [routerLink]="['owner']">Tableau de bord</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['partner']">Devenez partenaire</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['login']">Se connecter</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['register']">S'inscrire</a></li>
          <li *ngIf="auth.isLoggedIn()"><a [routerLink]="['profile']">Mon compte</a></li>
          <li *ngIf="auth.isLoggedIn()"><a (click)="logout()">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<ul id="sidebar-nav" class="sidenav">
  <li *ngIf="auth.user !== null && auth.isLoggedIn()">
    <div class="user-view">
      <div class="background">
        <div class="background-overlay"></div>
        <img src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540311324/businessman.jpg">
      </div>
      <img *ngIf="auth.user !== null && auth.user.$image !== undefined && auth.user.$image !== null" src="{{auth.user.$image.$url}}" alt="Photo de {{auth.user.first_name}} {{auth.user.last_name}}" class="circle">
      <img *ngIf="auth.user !== null &&auth.user.$image === undefined && auth.user.$gender.id === 1" src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540289616/boss.png" alt="Default photo" class="circle">
      <img *ngIf="auth.user !== null && auth.user.$image === undefined && auth.user.$gender.id === 2" src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540298272/croupier.png"
                                    alt="Default photo" class="circle">
      <a [routerLink]="['/profile']"><span class="white-text name">{{auth.user.first_name}} {{auth.user.last_name}}</span></a>
      <a href="mailto:{{auth.user.email}}"><span class="white-text email">{{auth.user.email}}</span></a>
    </div>
  </li>
  <li><a class="subheader">Membre</a></li>

  <li *ngIf="auth.isOwner()"><a [routerLink]="['/owner/dashboard']" class="waves-effect"><i class="material-icons">dashboard</i>Tableau de bord</a></li>
  
  <li *ngIf="auth.isLoggedIn()"><a [routerLink]="['/cart']"><i class="material-icons">shopping_cart</i>Panier</a></li>
  <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['/login']" class="waves-effect"><i class="material-icons">account_circle</i>Connexion</a></li>
  <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['/register']" class="waves-effect"><i class="material-icons">format_align_left</i>Inscription</a></li>


  <li *ngIf="auth.isLoggedIn()"><a [routerLink]="['/profile']" class="waves-effect"><i class="material-icons">account_circle</i>Mon compte</a></li>
  <li *ngIf="auth.isLoggedIn()"><a style="cursor: pointer;" (click)="auth.logout()" class="waves-effect"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
</ul>