<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m5 l4">
        <div class="card" id="profileimage">
          <div class="card-content">
            <div class="image-wrapper">
              
              <img *ngIf="auth.user !== null && auth.user.$image !== undefined && auth.user.$image !== null" src="{{ auth.user.$image.url }}"
                alt="Photo de {{auth.user.$first_name}} {{auth.user.$last_name}}">
              
              <img *ngIf="auth.user !== null &&auth.user.$image === undefined && auth.user.$gender.$id === 1" src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540289616/boss.png"
                alt="Default photo">
              
              <img *ngIf="auth.user !== null && auth.user.$image === undefined && auth.user.$gender.$id === 2" src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540298272/croupier.png"
                alt="Default photo">
              
            </div>
            <div *ngIf="auth.user !== null" class="profile-cred">
              <span class="profile-title">{{auth.user.$first_name}} {{auth.user.$last_name}}</span>
              <div class="location flex align-center justify-center flex-column">
                <span *ngFor="let role of auth.user.$roles" class="ville">{{ auth.roles[role] }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m7 l8">
        <div class="card">
          <div class="card-content">
            <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
              <div class="input-field">
                <input type="password" [(ngModel)]="currentPassword" name="currentPassword" required class="modernize" placeholder="Mot de passe actuel">
              </div>
              <div class="input-field">
                <input type="password" [(ngModel)]="newPassword" name="newPassword" required class="modernize" placeholder="Nouveau mot de passe">
              </div>
              <div class="input-field">
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="modernize" placeholder="Répéter le nouveau mot de passe">
              </div>
              <div class="input-field flex justify-center">
                <input type="submit" class="btn modernize" value="Modifier le mot de passe">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>